.form {
    /* margin: 100px  auto  ; */
    /* width: 40%;
    height: 80%;
    padding: 2px 2px 2px 2px; */
    margin: 50px auto;
    /* margin-top: 100px; 
    margin-left: 550px; 
    margin-bottom: 100px; */
    width: 900px;
    height: 550px;
    text-align: left;
    /* height: 70%; */
    /* padding: 12px 20px ;  */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  .inputText {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* margin-left: 28%; */
  
    /* margin-right: 28%; */
  }
  .inputText3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* margin-left: 28%; */
  
    /* margin-right: 28%; */
  }
  
  .inputText1 {
    margin-bottom: 15px;
  }
  
  .firstName {
    width: 49%;
  }
  .lastName {
    width: 49%;
    /* margin-top: 25px; */
  }
  
  .email {
    width: 100%;
    /* margin-bottom: 0px; */
  }
  
  .password {
    width: 49%;
    /* margin-bottom: 20px; */
  }
  .confirm {
    width: 49%;
    /* margin-bottom: 20px; */
  }
  .btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .image {
    padding-left: 20px;
    padding-right: 20px;
    /* width: 150px; */
    /* height: 300px; */
  }
  .text {
    margin-top: 5px;
    text-align: center;
  }
  
  .header {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .message {
    margin-top: 10px;
  }